
body{
    background-color: #171717;
    font-family: "Open Sans", sans-serif;
    
}

/*HEADER*/

.logo{
    width: 5%;
    
}

nav.menu {
    background-color: #DCCABC;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 1.2%;
}

nav.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.menu li {
    display: inline;
    margin-right: 20px;
}
   .menu ul a {
    color:black;
    text-decoration:none;
    font-weight:400;
    font-size:16px;
    padding:10px;
    text-transform:uppercase;
    letter-spacing:1px;

   }
   
   /* items del menu */
   
   .menu ul li {
    position:relative;
    margin:0;
    padding:2px;
   }
   
   /* efecto al pasar el ratón por los items del menu */
   
   .menu ul li:hover {
    background:#cc0000 ;
    border-radius: 10px;
    /*border: 1px solid black;*/
   }


.menu ul ul {
    width: 100%;
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#212121;
    border: 2px solid black;
    border-radius: 10px;
   }
   
   /* items del menu desplegable */
   
   .menu ul ul li {
    float:none;
    padding-top:1%;
    padding-bottom:1%;
   }
   
   /* enlaces de los items del menu desplegable */
   
   .menu ul ul a {
    color: #DCCABC;
    font-size:11px;
    line-height:120%;
   }
   
   /* items del menu desplegable al pasar el ratón */
   
   .menu ul li:hover > ul {
    display:flex;
    flex-direction: column;
   }

/*HEADER*/



main.pagInfo{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

main.pagInfo p{
    margin-top: 1%;
}

.formulario{
  color: #DCCABC;
  text-align: center;
  margin: 1%;
}

.formulario button{
  background-color: #cc0000;
  padding: 1%;
  border-radius: 10px;
}

.topCulturistas{
  padding: 1%;
}

.topCulturistas h4{
  color: red;
}

.topCulturistas li{
  padding: 1%;
}

.main{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    letter-spacing:1px;
}

.main2{
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing:1px;
}

.main2 section{
  margin: 0 auto;
  text-align: center;
  background-color: #212121;
  border-radius: 10px;
  color: #DCCABC;
  padding: 1%;
  font-size: 13px;
}


section{
    
    padding: 2%;
    margin: 1%;
    text-align: center;
    background-color: #212121;
    border-radius: 10px;
    color: #DCCABC;
    
}
section p{
    margin-top: 3%;
}


/*Boton*/
            button {
                position: relative;
                border: none;
                background: transparent;
                padding: 0;
                cursor: pointer;
                outline-offset: 4px;
                transition: filter 250ms;
                user-select: none;
                touch-action: manipulation;
            }
            
            .shadow {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 12px;
                background: #00000040;
                will-change: transform;
                transform: translateY(2px);
                transition: transform
                600ms
                cubic-bezier(.3, .7, .4, 1);
            }
            
            .edge {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 12px;
                background: linear-gradient(
                to left,
                #52001b 0%,
                #931010 8%,
                #931010 92%,
                #52001b 100%
                );
            }
            
            .front {
                display: block;
                position: relative;
                padding: 12px 27px;
                border-radius: 12px;
                font-size: 1.1rem;
                color: white;
                background: #cc0000;
                will-change: transform;
                transform: translateY(-4px);
                transition: transform
                600ms
                cubic-bezier(.3, .7, .4, 1);
            }
            
            button:hover {
                filter: brightness(110%);
            }
            
            button:hover .front {
                transform: translateY(-6px);
                transition: transform
                250ms
                cubic-bezier(.3, .7, .4, 1.5);
            }
            
            button:active .front {
                transform: translateY(-2px);
                transition: transform 34ms;
            }
            
            button:hover .shadow {
                transform: translateY(4px);
                transition: transform
                250ms
                cubic-bezier(.3, .7, .4, 1.5);
            }
            
            button:active .shadow {
                transform: translateY(1px);
                transition: transform 34ms;
            }
            
            button:focus:not(:focus-visible) {
                outline: none;
            }

            button a{
                text-decoration: none;
            }
/*Boton para ir a las progresiones*/
            .botonprogresion {
                position: relative;
                padding: 10px 22px;
                border-radius: 6px;
                border: none;
                color: #fff;
                cursor: pointer;
                background-color: #cc0000;
                transition: all 0.2s ease;
                border: 1px solid black;
              }
              
              .botonprogresion:active {
                transform: scale(0.96);
              }
              
              .botonprogresion:before,
              .botonprogresion:after {
                position: absolute;
                content: "";
                width: 150%;
                left: 50%;
                height: 100%;
                transform: translateX(-50%);
                z-index: -1000;
                background-repeat: no-repeat;
              }
              
              .botonprogresion:hover:before {
                top: -70%;
                background-image: radial-gradient(circle, #cc0000 20%, transparent 20%),
                  radial-gradient(circle, transparent 20%, #cc0000 20%, transparent 30%),
                  radial-gradient(circle, #cc0000 20%, transparent 20%),
                  radial-gradient(circle, #cc0000 20%, transparent 20%),
                  radial-gradient(circle, transparent 10%, #cc0000 15%, transparent 20%),
                  radial-gradient(circle, #cc0000 20%, transparent 20%),
                  radial-gradient(circle, #cc0000 20%, transparent 20%),
                  radial-gradient(circle, #cc0000 20%, transparent 20%),
                  radial-gradient(circle, #cc0000 20%, transparent 20%);
                background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
                  10% 10%, 18% 18%;
                background-position: 50% 120%;
                animation: greentopBubbles 0.6s ease;
              }
              
              @keyframes greentopBubbles {
                0% {
                  background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
                    40% 90%, 55% 90%, 70% 90%;
                }
              
                50% {
                  background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
                    50% 50%, 65% 20%, 90% 30%;
                }
              
                100% {
                  background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
                    50% 40%, 65% 10%, 90% 20%;
                  background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
                }
              }
              
              .botonprogresion:hover::after {
                bottom: -70%;
                background-image: radial-gradient(circle, #cc0000 20%, transparent 20%),
                  radial-gradient(circle, #cc0000 20%, transparent 20%),
                  radial-gradient(circle, transparent 10%, #cc0000 15%, transparent 20%),
                  radial-gradient(circle, #cc0000 20%, transparent 20%),
                  radial-gradient(circle, #cc0000 20%, transparent 20%),
                  radial-gradient(circle, #cc0000 20%, transparent 20%),
                  radial-gradient(circle, #cc0000 20%, transparent 20%);
                background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
                background-position: 50% 0%;
                animation: greenbottomBubbles 0.6s ease;
              }
              
              @keyframes greenbottomBubbles {
                0% {
                  background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
                    70% -10%, 70% 0%;
                }
              
                50% {
                  background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
                    105% 0%;
                }
              
                100% {
                  background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
                    110% 10%;
                  background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
                }
              }

              /* Estilos para la tabla */
.tabla table {
  border-collapse: collapse;
  width: 100%;
}

.tabla th, .tabla td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.tabla th {
  background-color: #f2f2f2;
}

/* Estilos para centrar contenido en celdas */
.tabla td.centrado {
  text-align: center;
}




.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 40%;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 90px;
}

.cut-short {
  width: 50px;
}

.cut-large {
  width: 130px;
}

.iLabel {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}
.input:not(:placeholder-shown) ~ .cut,
.input:focus ~ .cut {
  transform: translateY(8px);
}
.input:not(:placeholder-shown) ~ .iLabel,
.input:focus ~ .iLabel {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:focus) ~ .iLabel {
  color: #808097;
}

.input:focus ~ .iLabel {
  color: #cc0000;
}

.submit {
  background-color: #0165C3;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #0093FD;
}


.highlight {
  color: #cc0000; /* Este es el color rojo que ya estás utilizando en otros lugares */
}

#toggleForm{
  color: #cc0000;
}